{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}
<h2><i>{{ movie.name }}</i></h2>
<h5>{{ movie.review_set.count }} reviews ({{ movie.average_rating | floatformat }} average rating)</h5>
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if review %}
<br>
<div class="panel panel-default">
    <div class="panel-body">
<h3><i><a href="{% url 'reviews:review_detail' review.id %}">Your Review:</a></i></h3>
<h4>Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}"> {{ review.user_name }} </a> </h4>
        <h4><small><i>{{ review.pub_date }}</i></small></h4>
<p> {{ review.comment }} </p>
    </div></div>
<br>
{% else %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript">
$(document).ready(function(){
    $("#myTooltips a").tooltip({
        title : 'Rating'
    });
});

$(document).ready(function() {
var elementTitle = "";
    $('.rating-select .btn').on('mouseover', function(){
        $(this).removeClass('btn-default').addClass('btn-warning');
        $(this).prevAll().removeClass('btn-default').addClass('btn-warning');
        $(this).nextAll().removeClass('btn-warning').addClass('btn-default');
    });

    $('.rating-select').on('mouseleave', function(){
        active = $(this).parent().find('.selected');
        if(active.length) {
            active.removeClass('btn-default').addClass('btn-warning');
            active.prevAll().removeClass('btn-default').addClass('btn-warning');
            active.nextAll().removeClass('btn-warning').addClass('btn-default');
        } else {
            $(this).find('.btn').removeClass('btn-warning').addClass('btn-default');
        }
    });

    $('.rating-select .btn').click(function(){
        if($(this).hasClass('selected')) {
            $('.rating-select .selected').removeClass('selected');
        } else {
            $('.rating-select .selected').removeClass('selected');
            $(this).addClass('selected');
        }
        elementTitle = $(this).val();
    });

    $('#sbmtBtn').click(function () {
        $(this).val(elementTitle);
    });
});
</script>
<br>
<h3><i>Add your review</i></h3>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'reviews:add_review' movie.id %}" method="post">
    {% csrf_token %}
    {% bootstrap_form form layout='inline' %}
    <h4><b>Rating</b></h4>
     <div class="rating-select">
        <button type="button" name="action" value="1" class="btn btn-default btn-xs" data-toggle="tooltip" title="1"> {% bootstrap_icon "star-empty" %} </button>
        <button type="button" name="action" value="1.5" class="btn btn-default btn-xs" data-toggle="tooltip" title="1.5">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="2" class="btn btn-default btn-xs" data-toggle="tooltip" title="2">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="2.5" class="btn btn-default btn-xs" data-toggle="tooltip" title="2.5">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="3" class="btn btn-default btn-xs" data-toggle="tooltip" title="3">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="3.5" class="btn btn-default btn-xs" data-toggle="tooltip" title="3.5">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="4" class="btn btn-default btn-xs" data-toggle="tooltip" title="4">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="4.5" class="btn btn-default btn-xs" data-toggle="tooltip" title="4.5">{% bootstrap_icon "star-empty" %}</button>
        <button type="button" name="action" value="5" class="btn btn-default btn-xs" data-toggle="tooltip" title="5">{% bootstrap_icon "star-empty" %}</button>
    </div>
    <br>
    {% buttons %}
    <button type="submit" id="sbmtBtn" class="btn btn-primary" name="sbmtBtn" value="">
      {% bootstrap_icon "plus" %} Add
    </button>
    {% endbuttons %}
</form>

{% endif %}
{% endif %}

<h3><i>Recent reviews</i></h3>
{% if movie.review_set.all %}
<div class="row">
    {% for review in movie.review_set.all %}
    <div class="col-xs-6 col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">{% bootstrap_icon "pushpin" %}</div>
    <div class="panel-body">
        <em>{{ review.comment }}</em>
        <h6>Rated {{ review.rating }} of 5 by <a href="{% url 'reviews:user_review_list' review.user_name %}" >{{ review.user_name }}</a></h6>
        <h5><a href="{% url 'reviews:review_detail' review.id %}"> Read more  </a></h5>
    </div></div></div>
    {% endfor %}
</div>
{% else %}
<p>No reviews for this movie yet</p>
{% endif %}
{% endblock %}